n8n-instagram-auto-reply.json
{
  "name": "Instagram Auto-Reply Comments",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 1 Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://gestionale-web-hoon-production.up.railway.app/api/social-accounts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-accounts",
      "name": "Get Instagram Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "account_id",
              "name": "account_id",
              "value": "={{ $json.accountId }}",
              "type": "string"
            },
            {
              "id": "access_token",
              "name": "access_token",
              "value": "={{ $json.accessToken }}",
              "type": "string"
            },
            {
              "id": "db_id",
              "name": "db_id",
              "value": "={{ $json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "filter-instagram",
      "name": "Filter Instagram Only",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "=https://graph.instagram.com/v21.0/{{ $json.account_id }}/media?fields=id&limit=5&access_token={{ $json.access_token }}",
        "options": {}
      },
      "id": "get-media",
      "name": "Get Recent Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "=https://graph.instagram.com/v21.0/{{ $json.id }}/comments?fields=id,text,username,from,timestamp&access_token={{ $('Filter Instagram Only').item.json.access_token }}",
        "options": {}
      },
      "id": "get-comments",
      "name": "Get Comments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.text.toLowerCase() }}",
              "operation": "contains",
              "value2": "info"
            }
          ]
        }
      },
      "id": "check-keyword",
      "name": "Check Keyword 'info'",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "=https://graph.instagram.com/v21.0/{{ $('Filter Instagram Only').item.json.account_id }}/messages",
        "authentication": "bearerToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"comment_id\": \"{{ $json.id }}\"\n  },\n  \"message\": {\n    \"text\": \"Ciao! Ti mando subito le info in DM 😊\"\n  }\n}",
        "options": {}
      },
      "id": "send-dm",
      "name": "Send DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 200],
      "credentials": {
        "httpBearerTokenAuth": {
          "id": "instagram-token",
          "name": "Instagram Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "url": "https://gestionale-web-hoon-production.up.railway.app/api/automations",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountId\": \"{{ $('Filter Instagram Only').item.json.db_id }}\",\n  \"commentId\": \"{{ $json.id }}\",\n  \"username\": \"{{ $json.username }}\",\n  \"action\": \"dm_sent\",\n  \"timestamp\": \"{{ $json.timestamp }}\"\n}",
        "options": {}
      },
      "id": "log-db",
      "name": "Log to Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 200]
    }
  ],
  "connections": {
    "Every 1 Minute": {
      "main": [
        [
          {
            "node": "Get Instagram Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Instagram Accounts": {
      "main": [
        [
          {
            "node": "Filter Instagram Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Instagram Only": {
      "main": [
        [
          {
            "node": "Get Recent Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Posts": {
      "main": [
        [
          {
            "node": "Get Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Comments": {
      "main": [
        [
          {
            "node": "Check Keyword 'info'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Keyword 'info'": {
      "main": [
        [
          {
            "node": "Send DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send DM": {
      "main": [
        [
          {
            "node": "Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
